
h4, h5{
    color: rgb(80, 80, 80);
    padding: 0.5em 0;
}
h4{
    color: rgb(74, 138, 229);
}
.colaborador-container{
    border-radius: 10px;
    width: 280px;
    overflow: hidden;
}
.colaborador-container .cabecalho{
    padding: 20px 0;
}
.colaborador-container .rodape{
    padding: 20px 0;
    background-color: rgb(255, 255, 255);
}
.cabecalho img{
    width: 70px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin-bottom: -50px;
}