
.input-field label{
    display: block;
    font-weight: 500;
    color: rgb(45, 45, 45);
    font-size: 1em;
    margin-bottom: 1em;

}
.input-field select{
    width: 100%;
    padding: 2em;
    border: none;
    margin-bottom: 1em;
    box-shadow: 5px 5px 20px #0000002e;
    color: rgb(49, 49, 49);

}